@import "./params/**/*.scss";

@import "./blocks/**/*.scss";

/* @import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/sidebar.scss"; */

body {
    width: 100%;
    background-color: $gray;
    color: $black;
    display: flex;
    transition: all 0.2s ease-in;
}
