$gray: #bebebe;
$black: #2e2e2e;
@import "./blocks/header.scss";

body {
    width: 100%;
    background-color: $gray;
    font-size: 15px;
    font-weight: 900;
    font-family: Arial serif;
    color: $black;
    display: flex;
    transition: all 0.2s ease-in;
}
